.TodoItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10%;
    border-top: solid 1px #181c2475;
}
.TodoItem  .todoItem-checked{
    color: var(--blue);
    text-decoration: line-through;
}
.TodoItem .checkBox-checked{
    color: var(--blue);
}
.TodoItem .close-button{
    background: #ffffff00;
    border: none;
    color: var(--blue);
}
.TodoItem .close-button:hover{
    color: var(--light-red);
}
.TodoItem .close-button:active{
    color: var(--red);
}
